.password{
    border: none !important;
    padding: 0px  !important;
}

::ng-deep {
    .p-password {
        width: 100%;
        input{
            width: 100%;
        }
    }

    .reg-card .p-card {
        height: 95vh;
        margin-top: 1rem;
        overflow: auto;
    }

    .reg-card ::-webkit-scrollbar {
        width: 0px;
    }
      
    .reg-card ::-webkit-scrollbar-track {
        background: transparent;
    }
}



