<form #myform="ngForm">
    <div class="reg-card flex justify-content-center">
        <p-card header="Registration" subheader="Please enter your details">
            <p-messages [(value)]="utilsService.errorMessages" [enableService]="false"></p-messages>

            <div class="field">
                <p-selectButton name="userType" class="user-type-select" #userType="ngModel" [options]="registerAsOptions" [unselectable]="true" [(ngModel)]="user.userType" [required]="true" optionLabel="label" optionValue="value"></p-selectButton>
                <div *ngIf="userType.invalid && (userType.dirty || userType.touched)" class="p-error">
                    <small *ngIf="userType.errors['required']">Please select either Listener / Artist.</small>
                </div>
            </div>

            <div class="field">
                <label>Username*</label>
                <input pInputText #username="ngModel" id="username" type="text" [(ngModel)]="user.username" required="required"  name="username" class="w-full"/>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="p-error">
                    <small *ngIf="username.errors['required']">Username is required.</small>
                </div>
            </div>
            <div class="field">
                <label>Password*</label>
                <input pInputText #password="ngModel" [(ngModel)]="user.password" name="password" type="password" required="required" class="w-full"/>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="p-error">
                    <small *ngIf="password.errors['required']">Password is required.</small>
                </div>
            </div>

            <div class="field">
                <label>First Name*</label>
                <input pInputText #firstName="ngModel" id="firstName" type="text" [(ngModel)]="user.firstName" required="required" name="firstName" class="w-full"/>
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="p-error">
                    <small *ngIf="firstName.errors['required']">First Name is required.</small>
                </div>
            </div>

            <div class="field">
                <label>Middle Name</label>
                <input pInputText id="middleName" type="text" [(ngModel)]="user.middleName" name="middleName" class="w-full"/>
            </div>

            <div class="field">
                <label>Last Name*</label>
                <input pInputText #lastName="ngModel" id="lastName" type="text" [(ngModel)]="user.lastName" required="required" name="lastName" class="w-full"/>
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="p-error">
                    <small *ngIf="lastName.errors['required']">Last Name is required.</small>
                </div>
            </div>

            <div class="field">
                <label>Date of Birth*</label>
                <p-calendar name="dob" #dob="ngModel" [(ngModel)]="user.dob" [minDate]="minDate" [maxDate]="maxDate" [defaultDate]="maxDate" [required]="true" placeholder="must be 16 or above" [showIcon]="true"></p-calendar>
                <div *ngIf="dob.invalid && (dob.dirty || dob.touched)" class="p-error">
                    <small *ngIf="dob.errors['required']">Date of birth is required.</small>
                </div>
            </div>

            <div class="field flex justify-content-center">
                <button pButton icon="pi pi-sign-in" iconpos="right" label="Sign in" class="sign-in p-button-sm shadow-2 border-round-3xl" (click)="onSignInClick()"></button>
            </div>

            <div class="field flex justify-content-center">
                <label>Already a user ?<a [routerLink] ="['/login']"> Please Click here to login</a></label>
            </div>
        </p-card>
    </div>
</form>
<p-progressSpinner *ngIf="showLoader"></p-progressSpinner>

