<div class="al-container">
    <div class="top-section">
        <div class="img-div">
            <img class="album-img" [src]="album.selectedImageURL" alt="Album Cover">
        </div>
        <div class="details">
            <span class="title">{{ album.title }}</span>
            <span>{{ album.description }}</span>
            <span>{{ (songs || []).length }} songs - x hrs+</span>
            <div class="buttons">
                <button pButton label="Play all" icon="pi pi-play" class="btn btn-play-all"></button>
                <button pButton label="Add to playlist" class="btn btn-play-all">
                  <app-playlist-list-icon [style.margin-right]="'8px'"></app-playlist-list-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="song-list">
        <div class="song-item" *ngFor="let song of songs" (click)="onSongClick(song)">
              <div class="s-first">
                <div class="song-img-div">
                  <img class="song-img" [src]="song.selectedImageURL" alt="Song Image">
                </div>
              </div>
              <div class="s-title">
                <span>{{ song.name }}</span>
              </div>
              <div class="s-dur">
                <span>{{ song.duration }}</span>
              </div>
              <div>
                <i class="fa fa-ellipsis-v" style="font-size: 13px;"></i>
              </div>
        </div>
    </div>
</div>