<div class="al-container">
    <div class="top-section">
        <div class="img-div">
            <img class="album-img" src="assets/images/album3.jpg">
        </div>
        <div class="details">
            <span class="title">1000 Forms of Fear</span>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae aspernatur magnam aut perspiciatis voluptates provident quaerat repudiandae iste, nostrum sapiente?</span>
            <span>12 songs - 12 hrs+</span>
            <div class="buttons">
                <button pButton label="Play all" icon="pi pi-play" class="btn btn-play-all"></button>
                <button pButton label="Add to playlist" class="btn btn-play-all">
                  <app-playlist-list-icon [style.margin-right]="'8px'"></app-playlist-list-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="song-list">
        <div class="song-item" *ngFor="let song of songs">
              <div class="s-first">
                <div class="song-img-div">
                  <img class="song-img" [src]="song.image" alt="Song Image">
                </div>
              </div>
              <div class="s-title">
                <span>{{ song.title }}</span>
              </div>
              <div class="s-dur">
                <span>{{ song.duration }}</span>
              </div>
              <div>
                <i class="fa fa-ellipsis-v" style="font-size: 13px;"></i>
              </div>
        </div>
    </div>
</div>