<div class="al-container">
    <div class="top-section">
        <div class="img-div">
            <img class="album-img" src="assets/images/album3.jpg">
        </div>
        <div class="details">
            <span class="title">1000 Forms of Fear</span>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae aspernatur magnam aut perspiciatis voluptates provident quaerat repudiandae iste, nostrum sapiente?</span>
            <span>12 songs - 12 hrs+</span>
            <div class="buttons">

            </div>
        </div>
    </div>

    <div class="song-list">
        <div class="song-item">
            <div class="s-first">
                <div class="song-img-div">
                    <img class="song-img" src="assets/images/album2.jpg" alt="logo" >
                </div>
            </div>
            <div class="s-title">
                <span>Bird set free - Sia</span>
            </div>
            <div class="s-dur">
                <span>4:56</span>
            </div>
            <div>
                <i class="fa fa-ellipsis-v" style="font-size: 13px;"></i>
            </div>
        </div>
        <div class="song-item">
            <div class="s-first">
                <div class="song-img-div">
                    <img class="song-img" src="assets/images/album4.jpg" alt="logo" >
                </div>
            </div>
            <div class="s-title">
                <span>Alive - Sia</span>
            </div>
            <div class="s-dur">
                <span>3:45</span>
            </div>
            <div>
                <i class="fa fa-ellipsis-v" style="font-size: 13px;"></i>
            </div>
        </div>
        <div class="song-item">
            <div class="s-first">
                <div class="song-img-div">
                    <img class="song-img" src="assets/images/album3.jpg" alt="logo" >
                </div>
            </div>
            <div class="s-title">
                <span>The Greatest - Sia</span>
            </div>
            <div class="s-dur">
                <span>4:49</span>
            </div>
            <div>
                <i class="fa fa-ellipsis-v" style="font-size: 13px;"></i>
            </div>
        </div>
        <div class="song-item">
            <div class="s-first">
                <div class="song-img-div">
                    <img class="song-img" src="assets/images/album1.jpg" alt="logo" >
                </div>
            </div>
            <div class="s-title">
                <span>Elastic Heart - Sia</span>
            </div>
            <div class="s-dur">
                <span>5:38</span>
            </div>
            <div>
                <i class="fa fa-ellipsis-v" style="font-size: 13px;"></i>
            </div>
        </div>
        <div class="song-item">
            <div class="s-first">
                <div class="song-img-div">
                    <img class="song-img" src="assets/images/album1.jpg" alt="logo" >
                </div>
            </div>
            <div class="s-title">
                <span>Elastic Heart - Sia</span>
            </div>
            <div class="s-dur">
                <span>5:38</span>
            </div>
            <div>
                <i class="fa fa-ellipsis-v" style="font-size: 13px;"></i>
            </div>
        </div>
    </div>
</div>
