<div class="now-playing-container">
    <div class="details">
        <div class="song-img-div">
            <img class="song-img" src="assets/images/album4.jpg" alt="logo" >
        </div>
        <div class="description">
            <div class="s-name">
                <span>Bird set free</span>
            </div>
            <div class="s-artist">
                <span>Sia</span>
            </div>
        </div>
    </div>
    <div class="controls">
        <audio #audioPlayer [src]="audioSamplePath" (timeupdate)="updateSlider()" (loadedmetadata)="setInitialValues()"></audio>
        <div class="icon-controls">
            <i [ngClass]="{'control-active': controlActive == 'play'}" class="fa fa-play" (click)="play()"></i>
            <i [ngClass]="{'control-active': controlActive == 'pause'}" class="fa fa-pause" (click)="pause()"></i>
            <i [ngClass]="{'control-active': controlActive == 'stop'}" class="fa fa-stop" (click)="stop()"></i>
        </div>
        <p-slider [min]="0" [max]="audioDuration" [(ngModel)]="currentTrackTime" (onChange)="seekAudio($event)" (onSlideEnd)="onSeekEnd($event)"></p-slider>
    </div>
    <div class="volume-container">
        <span [style.display]="'block'"><i [class]="currentVolume ? 'fas fa-volume-up' : 'fas fa-volume-mute'"></i></span>
        <p-slider [min]="0" [max]="1" [step]="0.1" [(ngModel)]="currentVolume" (onChange)="changeVolume($event)" (onSlideEnd)="onVolumeSeekEnd($event)"></p-slider>
    </div>
</div>