<div class="text-white grid-nogutter" >
    <div class="flex align-items-start">
        <div>
            <i class="fas fa-record-vinyl mr-2" [style]="{'font-size': '14px', 'padding-top': '5px'}"></i>
        </div>
        <div>
            <h3 class="mt-0">MY ALBUMS</h3>
        </div>
        <div class="btn btn-create ml-5">
            <p-button icon="pi pi-plus" label="Create Album" (click)="router.navigate(['/sonet', 'create-album', 0])"></p-button>
        </div>
    </div>
    <div class="flex">
        <p-scrollPanel *ngIf="(publishedAlbums || []).length" class="col-6 flex-grow-1" [style]="{ width: '100%', height: '68vh' }">
            <div class="p-3">
                <div>
                    <h4 class="mt-0">PUBLISHED ALBUMS</h4>
                </div>
                <div class="flex flex-wrap">
                    <ng-container *ngFor="let album of publishedAlbums">
                        <ng-container *ngTemplateOutlet="albumTemplate; context: { rowData: album }"></ng-container>
                    </ng-container>
                </div>
            </div>
        </p-scrollPanel>
        <p-scrollPanel *ngIf="(unpublishedAlbums || []).length" class="col-6 flex-grow-1" [style]="{ width: '100%', height: '68vh' }">
            <div class="p-3">
                <div>
                    <h4 class="mt-0">UNPUBLISHED ALBUMS</h4>
                </div>
                <div class="flex flex-wrap">
                    <ng-container *ngFor="let album of unpublishedAlbums">
                        <ng-container *ngTemplateOutlet="albumTemplate; context: { rowData: album }"></ng-container>
                    </ng-container>
                </div>
            </div>
    </p-scrollPanel>
    </div>
</div>

<ng-template #albumTemplate let-rowData="rowData">
    <div class="p-3">
      <div class="album-img-div">
        <img class="album-img" [src]="rowData.selectedImageURL || 'assets/images/sing-img.webp'" alt="Album Image" (click)="onAlbumSelect(rowData)">
      </div>
      <div class="text-xs pl-1 mt-1">
        <span class="block">{{ rowData.title }}</span>
        <span class="block text-600">{{ rowData.artist?.sonetUser?.firstName }}</span>
      </div>
    </div>
</ng-template>
  