:root {
    --primary-theme-color: #1D2123;
    --primary-color: var(--primary-theme-color) !important;
    --secondary-theme-color: violet;
    --success-theme-color: #28a745;
    --danger-theme-color: #dc3545;
    --warning-theme-color: #ffc107;
    --info-theme-color: #17a2b8;
    --light-theme-color: #f8f9fa;
    --dark-theme-color: #343a40;
    --dark-alt-color: #1A1E1F;
    --dark-border-color: rgba(255, 255, 255, 0.10)
  }