.sonet-container {
    background-color: var(--primary-color);
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.sonet-header {
    flex: 0 0 auto;
}

.layout-body {
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    padding-bottom: 0;
    overflow: hidden;
    margin-bottom: var(--song-playing-height);
}

.sidemenu {
    flex: 0 0 40px;
    overflow-y: auto;
}

::ng-deep {
    .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
        background-color: transparent;
    }

    .p-panelmenu .p-panelmenu-panel:first-child {
        .p-panelmenu-header .p-panelmenu-header-content a.p-panelmenu-header-action {
            border-top-left-radius: 30px !important;
            border-top-right-radius: 30px !important;
        }
    }

    .p-panelmenu .p-panelmenu-panel:last-child {
        .p-panelmenu-header .p-panelmenu-header-content a.p-panelmenu-header-action {
            border-bottom-left-radius: 30px !important;
            border-bottom-right-radius: 30px !important;
        }
    }

    .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-menuitem-link-active {
        background-color: var(--secondary-theme-color);
    }

    a.p-panelmenu-header-action {
        background-color: #1A1E1F;
        transition: 400ms !important;
    }

    a.p-panelmenu-header-action:hover {
        background-color: var(--secondary-theme-color);
    }

    .fa {
        color: rgb(235, 232, 232) !important;
    }
}

.content {
    flex-grow: 1;
    padding: 0 2rem;
    height: inherit;
    overflow: auto;
}

.sonet-footer {
    flex: 0 0 auto;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    backdrop-filter: blur(5px);
}

::-webkit-scrollbar {
    width: 0px; /* width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }