.sonet-header {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0.2rem 2rem;
}

.logo {
    height: 60px;
    display: flex;
    background-color: transparent;
    align-items: center;
}

.right {
    padding-top: 0.7rem;
    padding-left: 1.5rem;
    width: 100%;
}

.p-input-icon-left {
    width: calc(100% - 250px);
}

.p-inputtext {
    background-color: transparent;
    border: none;
}

.p-inputtext:enabled:focus {
    box-shadow: none;
    border-bottom: 1px solid var(--secondary-theme-color);
}

.right-btn {
    margin-left: auto;
}

::ng-deep {
    .right-btn .p-button {
        font-size: 11px;
        border-radius: 32px;
        padding: 10px;
        background-color: var(--secondary-theme-color);
        border-color: var(--secondary-theme-color);
    }

    .right-btn .p-button:hover {
        filter: brightness(90%);
    }
}