::ng-deep{
    .alb-top .btn .p-button {
        background-color: #85c4c1;
        border: none;
        font-size: 14px;
        padding: 11px;
    }

    .p-steps .p-steps-number {
        border: none;
        min-width: 2rem;
        height: 2rem;
        background-color: grey;
        color: white;
        transition: ease-in-out 500ms;
    }

    .p-steps .p-steps-item.p-highlight .p-steps-number {
        background: radial-gradient(circle, rgb(250, 118, 233) 0%, rgb(229, 112, 204) 100%);
        box-shadow: 0 0px 5px 10px var(--secondary-theme-color);
        min-width: 1.5rem;
        height: 1.5rem;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .p-steps-title {
        font-size: 12px;
        color: white;
        font-weight: 200;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .p-steps .p-steps-item.p-highlight .p-steps-title {
        font-size: 13px;
        font-weight: bolder;
        color: var(--secondary-theme-color);
    }

    .p-menuitem-link {
        background-color: transparent;
        padding: 14px;
        cursor: pointer;
    }

    .p-steps ul li::before {
        transition: ease-in-out 500ms;
        border: 3px solid var(--dark-alt-color);
        left: 50%;
    }

    .p-steps ul li:last-child::before {
        width: 0;
    }

    .p-steps ul li:nth-last-child(2):before {
        width: 95%;
    }

    .p-steps.completed-1 .p-steps-item:nth-child(-n + 1):not(.p-highlight) .p-menuitem-link .p-steps-number,
    .p-steps.completed-2 .p-steps-item:nth-child(-n + 2):not(.p-highlight) .p-menuitem-link .p-steps-number,
    .p-steps.completed-3 .p-steps-item:nth-child(-n + 3):not(.p-highlight) .p-menuitem-link .p-steps-number
    {
        border: none;
        background:var(--secondary-theme-color);
    }

    .p-steps.completed-1 .p-steps-item:nth-child(-n + 1)::before,
    .p-steps.completed-2 .p-steps-item:nth-child(-n + 2)::before,
    .p-steps.completed-3 .p-steps-item:nth-child(-n + 3)::before
    {
        border-color: var(--secondary-theme-color);
    }

    .p-accordion .p-accordion-header .p-accordion-header-link {
        padding: 5px;
    }

    .field-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .field-container .p-inputtext:hover {
        background-color: rgba(255, 255, 255, 0.836);
    }
    
    .field-container .p-inputtext:enabled:focus {
        box-shadow: 0px 0 4px 2px var(--secondary-theme-color);
        border: none;
    }

    .p-button.p-fileupload-choose {
        margin-top: 0.4rem;
        background-color: #85c4c1;
        border: none;
        padding: 9px;
        border-radius: 19px;
        font-size: 13px;
    }

    .p-button.p-fileupload-choose .p-button-label {
        flex: none;
        max-width: 170px;
        overflow-x: hidden;
    }

    .p-image-preview-container:hover > .p-image-preview-indicator {
        border-radius: 18px;
    }

    .btn-clear .p-button {
        background-color: var(--danger-theme-color);
        border-color: var(--danger-theme-color);
        border-radius: 50%;
        width: 2rem;
        margin-top: 0.4rem;
    }
}
