<div class="flex align-items-start text-white">
    <div>
        <i class="fas fa-music mr-2 mt-1"></i>
    </div>
    <h3 class="mt-0">CREATE ALBUM</h3>
</div>
<div class="alb-top card mb-2 flex align-items-center ml-5">
    <div class="btn mr-4">
        <p-button [disabled]="currentStep == 0" icon="pi pi-chevron-left" label="Prev" (click)="goToPreviousStep()"></p-button>
    </div>
    <div class="col-10">
        <p-steps [model]="createStepItems" [readonly]="false" [activeIndex]="currentStep" [styleClass]="'completed-'+visitedSteps"></p-steps>
    </div>
    <div class="btn">
        <p-button [disabled]="currentStep == 2" icon="pi pi-chevron-right" label="Next" (click)="goToNextStep()"></p-button>
    </div>
</div>

<!-- DETAILS -->
<div *ngIf="currentStep == 0">
    <p-fieldset legend="Details" class="field-container">
        <form #detailsForm="ngForm">
            <div class="flex flex-wrap">
                <div class="field col-6">
                    <label>Title*</label>
                    <input pInputText #title="ngModel" type="text" [(ngModel)]="album.title" required="required" name="title" placeholder="Album title" class="w-full"/>
                    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="p-error">
                        <small *ngIf="title.errors['required']">Title is required.</small>
                    </div>
                </div>

                <div class="field col-6">
                    <ng-container *ngTemplateOutlet="imageUploadTemplate; context: { rowData: album, label: 'Album Cover Image', chooseLabel: 'Upload Album Cover', refName: 'albumCoverUpload', urlName: 'coverImageURL', imgWidth: '100px' }"></ng-container>
                </div>

                <div class="field col-6">
                    <label>Description</label>
                    <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="album.description" name="description" placeholder="Description..." class="w-full"></textarea>
                </div>

                <div class="field col-6">
                    <label>Release Date*</label>
                    <p-calendar name="releaseDate" #releaseDate="ngModel" dataType="string" [(ngModel)]="album.releaseDate" dateFormat="dd-mm-yy" placeholder="dd-mm-yyyy" [maxDate]="todayDate" [defaultDate]="todayDate" appendTo="body" [required]="true" [showIcon]="true"></p-calendar>
                    <div *ngIf="releaseDate.invalid && (releaseDate.dirty || releaseDate.touched)" class="p-error">
                        <small *ngIf="releaseDate.errors['required']">Release Date is required.</small>
                    </div>
                </div>
            </div>
        </form>
    </p-fieldset>
</div>

<!-- ADD SONGS -->
<div *ngIf="currentStep == 1">
    <div class="btn btn-add-song mb-2 flex justify-content-end">
        <div class="col-2">
            <p-button [style.float]="'right'" icon="pi pi-plus" label="Add New" (click)="onAddNewSongClick()"></p-button>
        </div>
    </div>
    <p-accordion class="w-full">
        <p-accordionTab *ngFor="let song of songs">
            <ng-template pTemplate="header">
                <span class="flex align-items-center gap-2 w-full">
                    <p-avatar [image]="song.selectedImageURL || 'assets/images/sing-img.webp'" shape="circle" />
                    <span class="font-medium white-space-nowrap">{{ song.name || 'New Song' }}</span>
                </span>
            </ng-template>
            <form #songDetailsForm="ngForm">
                <div class="flex flex-wrap text-500 align-items-center">
                    <div class="field col-4">
                        <label>Name*</label>
                        <input pInputText #name="ngModel" type="text" [(ngModel)]="song.name" required="required" name="name" placeholder="Song name" class="w-full"/>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="p-error">
                            <small *ngIf="name.errors['required']">Name is required.</small>
                        </div>
                    </div>
                    <div class="field flex-grow-1 flex-shrink-1">
                        <ng-container *ngTemplateOutlet="imageUploadTemplate; context: { rowData: song, label: 'Primary Image*', chooseLabel: 'Upload Image', refName: 'songImageUpload', urlName: 'primaryPhotoUrl', imgWidth: '80px' }"></ng-container>
                    </div>
                    <div class="field flex-grow-1">
                        <div class="flex justify-content-center">
                            <div>
                                <label>Audio File</label>
                                <div class="flex align-items-center">
                                    <div *ngIf="song.uploadedFileName" class="btn btn-clear mr-2">
                                        <button pButton type="button" icon="pi pi-times" (click)="onClearAudio(songUpload, song)"></button>
                                    </div>
                                    <p-fileUpload #songUpload mode="basic" name="file" [auto]="true" [url]="baseUrl+'api/file/uploadSingle'" [withCredentials]="true" accept="audio/*" [maxFileSize]="10000000" (onUpload)="onAudioUpload($event, song)" chooseLabel="Upload Audio">
                                        <ng-template pTemplate="chooseicon">
                                            <i class="fas fa-music"></i>
                                        </ng-template>
                                    </p-fileUpload>
                                </div>
                            </div>
                            <div *ngIf="song.uploadedFileName" class="flex mt-2 ml-2 align-items-center">
                                <span class="font-semibold text-pink-300 font-italic">{{ song.uploadedFileName }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </p-accordionTab>
    </p-accordion>
</div>

<!-- PUBLISH -->
<div *ngIf="currentStep == 2">

</div>
<p-progressSpinner *ngIf="showLoader"></p-progressSpinner>

<ng-template #imageUploadTemplate let-rowData="rowData" let-label="label" let-chooseLabel="chooseLabel" let-refName="refName" let-urlName="urlName" let-imgWidth="imgWidth">
    <div class="flex justify-content-center align-items-center">
        <div>
            <label>{{ label }}</label>
            <div class="flex align-items-center">
                <div *ngIf="rowData.selectedImageURL" class="btn btn-clear mr-2">
                    <button pButton type="button" icon="pi pi-times" (click)="onClearImageClick(refName, rowData, urlName)"></button>
                </div>
                <p-fileUpload #refName mode="basic" name="file" [auto]="true" [url]="baseUrl+'api/file/uploadSingle'" [withCredentials]="true" accept="image/*" [maxFileSize]="1000000" (onUpload)="onImageUpload($event, rowData, urlName)" [chooseLabel]="chooseLabel" chooseIcon="pi pi-image"></p-fileUpload>
            </div>
        </div>
        <div *ngIf="rowData.selectedImageURL" class="flex mt-2 ml-4 align-items-center">
            <p-image [src]="rowData.selectedImageURL" alt="Image" width="80" [preview]="true" [imageStyle]="{'border-radius': '18px', 'border': '2px solid #85c4c1'}" appendTo="body"></p-image>
        </div>
    </div>
</ng-template>