::ng-deep {
    .p-inputtext:hover {
        border-color: var(--secondary-theme-color);
    }

    .btn-cred .p-button, .btn-cred-save .p-button {
        background-color: var(--danger-theme-color);
        border-color: var(--danger-theme-color);
    }

    .btn-cred-save .p-button {
        font-size: 14px;
        padding: 10px;
    }

    .btn-cred-save  .p-button .pi {
        font-size: 16px;
    }

    .btn-save .p-button {
        font-size: 12px;
        padding: 10px;
    }

    .btn-save .p-button .pi {
        font-size: 12px;
    }
}