<div class="home-container">
    <h3 style="margin-top: 0;">ALBUMS</h3>
    <div class="album-container">
      <div class="album-card" *ngFor="let album of albums">
        <div class="album-img-div">
          <img class="album-img" [src]="album.image" alt="Album Image" [routerLink]="album.routerLink">
        </div>
        <div class="description">
          <span class="title">{{ album.title }}</span>
          <span class="artist">{{ album.artist }}</span>
        </div>
      </div>
    </div>
    <div class="song-list">
      <div class="song-item" *ngFor="let song of songs">
        <div class="s-first">
          <div class="song-img-div">
            <img class="song-img" [src]="song.image" alt="Song Image">
          </div>
        </div>
        <div class="s-title">
          <span>{{ song.title }}</span>
        </div>
        <div class="s-dur">
          <span>{{ song.duration }}</span>
        </div>
        <div>
          <i class="fa fa-ellipsis-v" style="font-size: 13px;"></i>
        </div>
      </div>
    </div>
  </div>