.image-item .album-img-div {
    width: var(--carousel-width);
    height: var(--carousel-height);
    margin: 0;
}

.image-item .album-img-div .album-img {
    border-radius: 28px;
    border-style: none;
}

.carousel-container {
    width: var(--carousel-width);
    background-color: transparent;
    border-radius: 28px;
}

.most-liked .album-img-div {
    width: 60px;
    height: 60px;
}

.most-liked .album-img {
    border: none;
}

.most-liked .album-img:hover {
    box-shadow: 0px 0 4px 3px rgba(238, 130, 238, 0.874);
    transform: scale(1.04);
}

.ml-album-container {
    background-color: var(--dark-alt-color);
    width: 340px;
}