<div class="home-container">
    <h3 style="margin-top: 0;">ARTISTS</h3>
    <div class="album-container">
        <div class="album-card">
            <div class="album-img-div">
                <img class="album-img" src="assets/images/album1.jpg" alt="logo" >
            </div>
            <div class="description">
                <span class="title">Bird set free</span>
                <span class="artist">Sia</span>
            </div>
        </div>

        <div class="album-card">
            <div class="album-img-div">
                <img class="album-img" src="assets/images/album2.jpg" alt="logo" >
            </div>
            <div class="description">
                <span class="title">You want it darker</span>
                <span class="artist">Leonard Cohen</span>
            </div>
        </div>

        <div class="album-card">
            <div class="album-img-div">
                <img class="album-img" src="assets/images/album3.jpg" alt="logo" >
            </div>
            <div class="description">
                <span class="title">Iron</span>
                <span class="artist">Woodkid</span>
            </div>
        </div>

        <div class="album-card">
            <div class="album-img-div">
                <img class="album-img" src="assets/images/album4.jpg" alt="logo" >
            </div>
            <div class="description">
                <span class="title">Golden Age</span>
                <span class="artist">Woodkid</span>
            </div>
        </div>

        <div class="album-card">
            <div class="album-img-div">
                <img class="album-img" src="assets/images/album5.jpg" alt="logo" >
            </div>
            <div class="description">
                <span class="title">Don't stop me now</span>
                <span class="artist">Queen</span>
            </div>
        </div>
    </div>
</div>
